body {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	text-align: center;
}

.App {
	width: 100%;
	height: auto;
	background-color: black;
	color: white;
	padding: 5px 0 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;

	.logo {
		width: 3em;
		height: 3em;
		float: left;
	}

	ul {
		display: inline-flex;
		float: right;

		li {
			display: inline;
			list-style: none;
			padding: 0 10px 0 10px;
		}
	}
}
